<!DOCTYPE HTML>
<html>
	<head>
		<title>MOVIE APP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body>
	<!-- Banner -->
	<section class="banner full">
		<article>
			<img src="static/images/slide01.jpg" alt="" />
			<div class="inner">
				<header>
					<p>WELCOME TO THE MOVIE APP </p>
					<h2>HELLO!</h2>
				</header>
				<p>click the button below to see the users</p>
				<br>
				<button onclick="window.location.href = 'users';">users</button>
			</div>
		</article>
	</section>

	<!-- Scripts -->
	<script src="static/assets/js/jquery.min.js"></script>
	<script src="static/assets/js/jquery.scrollex.min.js"></script>
	<script src="static/assets/js/skel.min.js"></script>
	<script src="static/assets/js/util.js"></script>
	<script src="static/assets/js/main.js"></script>

	</body>
</html>